<!-- noch ein kommmentar--->
<div class="jumbotron competitionSiteMain">
    <h1 class="one"> Bist du neu? </h1>
    <h2 class="one">... dann folge unserer Anleitung </h2>
</div>
<hr class="featurette-divider">
<ol>
    <li class="one">Suche dir eine Compitition aus. Zur Auswahl stehen zwei Themen. Eins ist von der Community bestimmt
        und das Andere von unserem PTTP-Team
    </li>
    <li class="two">Nun wirst du zur Übersicht der Designs weitergeleitet. Oben links kannst du nun eine
        Kleider-Kategorie auswählen.
    </li>
    <li class="one">Oben rechts siehst du die jeweils benötigten Likes, damit dein Voting gewertet wird. Du musst genau
        dieses Limit erreichen, hast du weniger Likes vergeben, wird dein Boting nicht gewertet.
    </li>
    <li class="two">Bis zum Ablauf der Zeituhr (Oben Mitte) kannst du dich nochmal umentscheiden. Dann wird das Voting
        abgesschlossen.
    </li>
    <li class="one">Für mehr Infos zu den Designs, klicke einfach auf das jeweilige Bild, um in die Detailansicht zu
        gelangen.
    </li>
</ol>
<p class="three"> Viel Spaß!</p>
<hr class="one">
<h3>Choose Competition</h3>
<a href="../votingSite.html">
<p class ="five" id="PTTP" >PTTP</p>
 </a>
<a href="../votingSite.html">
<p class = "two" id="CC">COMMUNITY COMPETITION</p>
</a>
