<div class="container detail-container">
    <!-- Slider -->
    <div id="detail-view">
        <div class="col-md-4" id="slider-thumbs">
            <!-- Bottom switcher of slider -->
            <div class="row" id="img-row-1">
                <a class="img-responsive" id="carousel-selector-0">
                    <img src="http://bighappyface.com/Happy%20Face%20200x200.png">
                </a>
            </div>
            <div class=" row" id="img-row-2">
                <a class="img-responsive" id="carousel-selector-1">
                    <img src="http://davidnaylor.org/temp/thunderbird-logo-200x200.png"></a>
            </div>

            <div class="row" id="img-row-3">
                <a class="img-responsive" id="carousel-selector-2">
                    <img src="http://davidnaylor.org/temp/firefox-logo-200x200.png"></a>
            </div>
        </div>


        <div class="col-md-8" id="carousel-bounding-box">
            <div class="carousel slide" id="myCarousel">
                <!-- Carousel items -->
                <div class="carousel-inner" id="car-inner-id">
                    <div class="active item" data-slide-number="0" id="dala-slide-id-1">
                        <img src="http://www.betreutesproggen.de/wp-content/uploads/2015/03/home_cover_big-610x610.jpg"></div>

                    <div class="item" data-slide-number="1" id="dala-slide-id-2">
                        <img src="http://davidnaylor.org/temp/thunderbird-logo-200x200.png"></div>

                    <div class="item" data-slide-number="2" id="dala-slide-id-3">
                        <img src="http://davidnaylor.org/temp/firefox-logo-200x200.png"></div>
                </div>
            </div>
        </div>
    </div>
</div>