<div class="container" id="detail-container">

    <div id="detail-view">

        <!-- Foto grid -->
        <div class="inner-detail">

            <div id="slider-thumbs">
                <div class="row" id="img-row-1">
                    <a class="img-responsive" id="image-selector-1">
                        <img src="https://hallo-bq.global.ssl.fastly.net/v1/file/www/img/design1/PO222F00F-501%4020.jpg?BCB">
                    </a>
                </div>
                <div class="row" id="img-row-2">
                    <a class="img-responsive" id="image-selector-2">
                        <img src="https://hallo-bq.global.ssl.fastly.net/v1/file/www/img/design1/PO222F00F-501%4015.jpg?BCB">
                    </a>
                </div>
                <div class="row" id="img-row-3">
                    <a class="img-responsive" id="image-selector-3">
                        <img src="https://hallo-bq.global.ssl.fastly.net/v1/file/www/img/design1/PO222D02U-501%4015.jpg?BCB">
                    </a>
                </div>
            </div>

            <!-- Big foto -->
            <div class="big-detail-foto">
                <div id="foto-id">
                    <img src="https://hallo-bq.global.ssl.fastly.net/v1/file/www/img/design1/PO222F00F-501%4018.jpg?BCB">
                </div>
                <div>
                    <span class="glyphicon glyphicon-heart" id="vote-heart"></span>
                </div>
            </div>

            <span class="stretch"></span>

        </div>

        <!-- Description -->

        <div class="text-left" id="description-id">
            <h4>Description:</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <!-- Comment section -->

        <div id="comment-container">
            <div class="text-left">
                <div class="well" id="well-id">
                    <h4>Leave your comment</h4>
                    <div class="input-group">
                        <input type="text" id="userComment" class="form-control input-sm chat-input"
                               placeholder="Write your message here..."/>
                        <span class="input-group-btn">
                            <button class="btn btn-primary btn-sm" id="add-comment-button">
                                <span class="glyphicon glyphicon-comment"></span> Add Comment
                            </button>
                        </span>
                    </div>
                    <hr data-brackets-id="12673">
                    <ul data-brackets-id="12674" id="sortable" class="list-unstyled ui-sortable">
                        <strong class="pull-left primary-font">James</strong>
                        <small class="pull-right text-muted">
                            <span class="glyphicon glyphicon-time"></span>7 mins ago
                        </small>
                        </br>
                        <li class="ui-state-default comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </li>
                        </br>
                        <strong class="pull-left primary-font">Taylor</strong>
                        <small class="pull-right text-muted">
                            <span class="glyphicon glyphicon-time"></span>14 mins ago
                        </small>
                        </br>
                        <li class="ui-state-default comment-text">Duis aute irure dolor in reprehenderit in voluptate
                            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>