</body>
<footer class="footer"> 

    <span id="footer-left">&copy; 2016 Company, Inc.
        &middot;<a href="#">Privacy</a>
        &middot; <a href="#">Terms</a>
    </span>

    <span id="footer-right">
        <a id="btt" href="#"> Back to Top</a>

    </span>
</footer>
</div>
<!-- end container-->  
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

 <!-- build:js({app,.}) js/app.js --> 
<script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script> 
<script src="/node_modules/baqend/dist/baqend.js"></script> 
<script src="js/main.js"></script> 
<script src="js/logInService.js"></script>
<script src="js/competitionService.js"></script>
<script src="js/votingPageService.js"></script>
<script src="js/commentService.js"></script>
<script src="js/lightbox-plus-jquery.js"></script>
<script src="js/designDetailService.js"></script>

<!-- endbuild -->

</html>
