<div class="container">
    <a href="#d" class="btn btn-info btn-block" data-toggle="collapse">Drück mich!</a>
    <div id="d" class="collapse">
        Drück mich nicht!.
    </div>
</div>

<div class="row marketing">
        <div class="container">
            <h2>Tolle Feli</h2>
            <img id="123" src="http://data.whicdn.com/images/62883269/large.jpg" class="img-rounded"
                 alt="Cinque Terre" width="304" height="236">
        </div>


        <div class="container">
            <h2>Toller Hund</h2>
            <img id="234" src="https://s-media-cache-ak0.pinimg.com/564x/be/a8/cd/bea8cde19394242fb40758a921ec0bfb.jpg" class="img-rounded"
                 alt="Cinque Terre" width="304" height="236">
        </div>
</div>
         <div class="container">
             <h2>Tolle Kröte</h2>
             <img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Kroete-1.png" class="img-thumbnail"
                  alt="Cinque Terre" width="304" height="236">
         </div>


