<div class="jumbotron">
    <h1>POWER TO THE PEOPLE</h1>
</div>

<div class="container" style="margin-top:30px">
    <div class="col-md-12">
        <div class="modal-dialog" style="margin-bottom:0">
            <div class="modal-content">
                <div class="panel-heading">
                    <h3 class="panel-title">Sign Up</h3>
                </div>
                <div class="panel-body">
                    <form role="form" id="signUpForm">
                            <div class="form-group">
                                <input class="form-control" id="fNameField" placeholder="Firstname" name="firstname" type="text" value="" required="required" maxlength="20">
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="lNameField" placeholder="Lastname" name="lastname" type="text" value="" required="required" maxlength="20">
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="adrsField" placeholder="Address" name="address" type="text" value="" maxlength="200" required="required">
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="zipField" placeholder="ZIP" name="zip" type="text" value="" maxlength="6" required="required" pattern="[0-9]{5,6}$">
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="cityField" placeholder="City" name="city" type="text" value="" required="required" maxlength="30">
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="countryField" placeholder="Country" name="country" type="text" value="" maxlength="30" required="required">
                            </div>
                            <div class="bottom">
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="emailField" placeholder="E-mail" name="email" type="email" autofocus="" required="required" maxlength="30" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="passField" placeholder="Password" name="password" type="password" value="" required="required" minlength="6" maxlength="16">
                            <p class="infoPassword"> must contain 6-16 character</p>
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="confPassField" placeholder="Confirm password" name="confpassword" type="password" value="" required="required" minlength="6" maxlength="16">
                            </div>
                            <input type="submit" value="Register" class="btn btn-sm btn-default" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<span class="help-block"></span>