<ul class = "ronny">
    <p>COMPETITION PTTP</p>
    <li><a href="">SHIRTS</a></li>
    <li><a href="">PULLOVER</a></li>
    <li><a href="">JACKEN</a></li>
    <li><a href="">SPECIALS</a></li>
</ul>

