<div class="container">
    <div class="row">
        <h1>Bootstrap Lightbox using Modal</h1>
<!-- Syntax ist wie folgt: href="#" class="thumbnail" title="titel" (erste part in <a>) dann für <img class"img-responsive" src="link"></a>-->
        <ul class="thumbnails">
            <li><a href="#" class="thumbnail" title="Image 1"><img class="img-responsive" src="//placehold.it/600x350"></a>

            </li>
            <li><a href="#" class="thumbnail" title="Image 2"><img class="img-responsive" src="//placehold.it/600x350/2255EE"></a>

            </li>
            <li><a href="#" class="thumbnail" title="Image 3"><img class="img-responsive" src="//placehold.it/600x350/449955/FFF"></a>

            </li>
            <li><a href="#" class="thumbnail" title="Image 4"><img class="img-responsive" src="//placehold.it/600x350/992233"></a>

            </li>
            <li><a href="#" class="thumbnail" title="Image 5"><img class="img-responsive" src="//placehold.it/600x350/2255EE"></a>

            </li>
            <li><a href="#" class="thumbnail" title="Image 6"><img class="img-responsive" src="//placehold.it/600x350/449955/FFF"></a>

            </li>
            <li><a href="#" class="thumbnail" title="Image 7"><img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/3/32/Margaykat_Leopardus_wiedii.jpg"></a>

            </li>
        </ul>
        <hr> <a href="http://bootply.com/68668">Edit on Bootply</a>

    </div>
</div>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 class="modal-title">Heading</h3>

            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>