<!--blub-->
<ul class = "ronny">
  <p id="NameCompetition"></p>
    <li><button class = "button" id="Shirtsbtn">Shirts</button></li>
    <li><button class = "button" id="Pulloverbtn">Pullover</button></li>
    <li><button class = "button" id="Jacketsbtn">Jackets</button></li>
    <li><button class = "button" id="Specialsbtn">Specials</button></li>
</ul>


<div class="img">
    <img src="https://hallo-bq.global.ssl.fastly.net/v1/file/www/img/Tshirt1.png?BCB" width="300" height="200">
</div>

<div class="img">
    <img src="https://hallo-bq.global.ssl.fastly.net/v1/file/www/img/Tshirt1.png?BCB" width="300" height="200">
</div>

<div class="img">
    <img src="https://hallo-bq.global.ssl.fastly.net/v1/file/www/img/Tshirt1.png?BCB" width="300" height="200">
</div>

<div class="img">
    <img src="https://hallo-bq.global.ssl.fastly.net/v1/file/www/img/Tshirt1.png?BCB" width="300" height="200">
</div>