
<ul class = "ronny">
  <p id="NameCompetition"></p>
    <li><button class = "button" id="Shirtsbtn">Shirts</button></li>
    <li><button class = "button" id="Pulloverbtn">Pullover</button></li>
    <li><button class = "button" id="Jacketsbtn">Jackets</button></li>
    <li><button class = "button" id="Specialsbtn">Specials</button></li>
</ul>

